@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.8s ease-out forwards;
  }

  @keyframes ecg-line {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .animate-ecg-line {
    animation: ecg-line 5s linear infinite;
    
  }

  @keyframes ecg-wave {
    0% {
      stroke-dasharray: 0 1000;
    }
    25% {
      stroke-dasharray: 250 750;
    }
    50% {
      stroke-dasharray: 500 500;
    }
    75% {
      stroke-dasharray: 750 250;
    }
    100% {
      stroke-dasharray: 1000 0;
    }
  }

  .animate-ecg-wave {
    animation: ecg-wave 1s ease-in-out infinite;
  }

  @keyframes heart-pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }

  .animate-heart-pulse {
    animation: heart-pulse 0.9s ease-in-out infinite;
  }
}

/* Hide navbar when splash screen is active */
body.splash-active nav {
  display: none;
}
